@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";


    //createmodel createUser = new createmodel();


<p>Navn:</p>
<input id="FullNameBox" type="text" />

<p>Telefon:</p>
<input id="PhoneBox" type="text" />

<p>Email:</p>
<input id="EmailBox" type="text" />

<br />
<button onclick="printInfo(FullNameBox.value,PhoneBox.value, EmailBox.value)">Tilmeld</button>



<p id="Tilmelding"></p>


<script>
    function printInfo(FullName, Phone, Email) {
        document.getElementById("Tilmelding").innerHTML =
            "Navn: " + FullName + " Telefon: " + Phone + " Email: " + Email;
    }
</script>

}

