@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

@section featured {

    <h1>Velkommmen</h1>
    <input type="button" name="tilmelding" value="Tilmelding" onclick="location.href='Create.cshtml'" />


}


